---
import { groupCssProperties, deepFlatGroupCssProperties } from '../utils/manifest-utils'
interface Props {
  componentTag: string
}

const { componentTag } = Astro.props

import { componentManifests } from '../store/component-manifests'

const componentManifest = componentManifests[componentTag]
const groupedCssProperties = groupCssProperties(componentManifest.cssProperties)
const flattenGroupedCssProperties = deepFlatGroupCssProperties(groupedCssProperties)
---

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="hide-mobile">Type</th>
      <th class="hide-mobile">Default</th>
      <th class="hide-mobile hide-tablet">Description</th>
    </tr>
  </thead>
  <tbody>
    {
      componentManifest.attributes && componentManifest.attributes.length > 0 && (
        <>
          <tr class="t-h1" data-level="1">
            <>
              <td>
                <span class="t-h1">Attribute</span>
              </td>
              <td class="hide-mobile" />
              <td class="hide-mobile" />
              <td class="hide-mobile hide-tablet" />
            </>
          </tr>
          {componentManifest.attributes.map((attr) => (
            <tr>
              <td>{attr.name}</td>
              <td class="hide-mobile">
                <span class="t-code">{attr.type}</span>
              </td>
              <td class="hide-mobile">{attr.default && <code>{attr.default}</code>}</td>
              <td class="hide-mobile hide-tablet">
                <fragment set:html={attr.description} />
              </td>
            </tr>
          ))}
        </>
      )
    }
    {
      componentManifest.events && componentManifest.events.length > 0 && (
        <>
          <tr class="t-h1" data-level="1">
            <>
              <td>
                <span class="t-h1">Events</span>
              </td>
              <td class="hide-mobile" />
              <td class="hide-mobile" />
              <td class="hide-mobile hide-tablet" />
            </>
          </tr>
          {componentManifest.events.map((event) => (
            <tr>
              <td>{event.name}</td>
              <td class="hide-mobile">
                <span class="t-code">{event.type}</span>
              </td>
              <td class="hide-mobile" />
              <td class="hide-mobile hide-tablet">
                <fragment set:html={event.description} />
              </td>
            </tr>
          ))}
        </>
      )
    }
    {
      flattenGroupedCssProperties.length > 0 && (
        <>
          <tr class="t-h1" data-level="1">
            <>
              <td>
                <span class="t-h1">CSS Variables</span>
              </td>
              <td class="hide-mobile" />
              <td class="hide-mobile" />
              <td class="hide-mobile hide-tablet" />
            </>
          </tr>
          {flattenGroupedCssProperties.map((group) => (
            <>
              {group.cssProperty && (
                <tr>
                  <td>{group.cssProperty.cssVariable}</td>
                  <td class="hide-mobile">
                    <span class="t-code">{group.cssProperty.type}</span>
                  </td>
                  <td class="hide-mobile">{group.cssProperty.default && <code>{group.cssProperty.default}</code>}</td>
                  <td class="hide-mobile hide-tablet">
                    <fragment set:html={group.cssProperty.description} />
                  </td>
                </tr>
              )}
              {!group.cssProperty && (
                <tr class="t-h2" data-level={group.level + 1}>
                  <td>
                    <span class="t-h2">{group.fullGroupName}</span>
                  </td>
                  <td class="hide-mobile" />
                  <td class="hide-mobile" />
                  <td class="hide-mobile hide-tablet" />
                </tr>
              )}
            </>
          ))}
        </>
      )
    }
  </tbody>
</table>
