---
    
    title: "{{ titleCase name}}"
    slug: "{{ dashCase name}}"
---

import MdxCodeBlock from '../../components/MdxCodeBlock.astro';

# {{ titleCase name}}


```html tag=MdxCodeBlock
<div class="container">
    <c2-{{ dashCase name}}></c2-{{ dashCase name}}>    
</div>
<style>
    .container {
        display: flex;
        gap: 16px;
        align-items: center;
    }
</style>
```

TODO